# virtual environment
venv/
.venv/

# jupyter notebook checkpoints
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/

# python cache
__pycache__/
*.pyc
*.pyo

# os files
.DS_Store
Thumbs.db

# vs code
.vscode/